/* Overall container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* Left column */
.left-column {
  width: 40%;
  padding: 20px;
}

/* Logo */
.left-column img {
  width: 77.333px;
  height: 80px;
  flex-shrink: 0;;
}

/* For Individuals heading */
.left-column h2 {
  color: var(--CL-Black, #000B0A);
  font-family: Brown;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: -0.8px;
}

/* Left column paragraph */
.left-column p {
  color: var(--CL-Grey, #737373);
  font-family: Brown;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}

/* Right column */
.right-column {
  width: 60%;
  padding: 20px;
}

/* Form container */
.form-container {
  width: 580px;
  height: 679px;
  flex-shrink: 0;
  background-color: #FFF;
  border-radius: 6px;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
  padding: 30px; /* Keep this padding for spacing within the container */
}

/* User details section */
.user-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Input and select boxes (general) */
.input-box,
.select-box {
  width: 238px;
  height: 48px;
  flex-shrink: 0;
}

/* Extend activity level and password input boxes */
.user-details > :nth-last-child(-n + 2) .input-box {
  width: 500px;
}

/* Arrange label and input vertically within each box */
.input-box,
.select-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Spacing below input boxes */
.input-box + .input-box,
.select-box + .select-box {
  margin-top: 30px;
}

/* Spacing between horizontal input boxes */
.user-details .input-box:nth-child(-n + 2),
.user-details .select-box:nth-child(2) {
  margin-right: 24px;
}

/* Label styling */
.input-box span,
.select-box span {
  display: block;
  margin-bottom: 5px;
}

/* Button */
button {
  width: 500px;
  height: 48px;
  flex-shrink: 0;
  background-color: var(--CL-Green, #2EC4B6);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.10));
}

/* Terms and conditions */
.terms-and-conditions {
  margin-top: 20px
}